/*-------------------Header------------------*/

.button {
    border-radius: 15px;
    background-color: darkgray;
    color: black;
}

.hero-section {
  background: url("https://images.unsplash.com/photo-1493200754321-b1d3cbc969a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") 50% no-repeat;
  background-size: cover;
  height: 75vh;
     width: 1400px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   justify-content: center;
    text-align: center;
    padding-top:150px;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.row column text-center {
    margin-top: 50px;
}

.navbar a + a{
	margin-left: 10em;
}

.navbar a:nth-child(2){
	margin-left: 2em;
}

/*--------------------MAIN--------------------------------*/

body {
    background-color: rgb(240,240,240);
}

.bloc{
	transition: transform .5s;
	box-shadow: 3px 3px 3px black;
}

.bloc:hover{
    transform: scale(1.15);
    z-index: 2;
    box-shadow: 4px 4px 4px black;
}

.card-deck{
	margin: .5em;
	margin-bottom: 1em;
}

.thumbnail {
    height: 200px;
    width: 170px;
    margin-left: 50px;
    border-radius: 7px;
}

.row column {
    justify-content: center;
}

h2 {
    font-family: 'Merriweather', serif;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*---------------FOOTER----------------------*/

#monFooter{
	margin-top: 5em;
	padding: 1em;
	text-align:center;/*texte centré*/
}

#monFooter p{
	margin: 0;
}
